[
  %% Spellingci
  { spellingci,
    [
      {http_port, 8080},
      {http_listener_count, 10},

      %% OAuth
      {github_scope, "repo,user:email"},
      {github_client_id, "1234"},
      {github_client_secret, "1234"}
    ]
  },
  %% sumo_db
  {sumo_db, [
    {wpool_opts, [{overrun_warning, 100}]},
    {log_queries, true},
    {query_timeout, 30000},
    {storage_backends, [
      {spellingci_backend_mnesia, sumo_backend_mnesia, []}
    ]},
    {stores, [
      {spellingci_store, sumo_store_mnesia, [
        {workers, 10},
        {disc_copies, here}
      ]}
    ]},
    {docs, [ {github_users, spellingci_store, #{module => spellingci_users}}
           ]},
    {events, []}
   ]},

   %% Lager
  { lager,
    [
      {colored, true},
      {async_threshold, 200},
      {async_threshold_window, 5},
      {error_logger_hwm, 500},
      {handlers,
        [
          {lager_console_backend,
          [ debug,
            {lager_default_formatter,
              [
                color, time, " [", severity, "]",
                " [", {module, ""}, ":", {function, ""}, ":", {line, ""}, "] ",
                message, "\e[0m\n"
              ]
            }
          ]
          }
        ]
      }
    ]
  }
].
