#header {
  background-color: white;
  border-bottom: solid 1px  #E93F3F;
  height: 80px;
}

#header a {
  cursor: pointer;
}

.navbar-brand {
  font-size: 35px;
  color: #000000;
  font-weight: bold;
}

.container.row.list {
  height: 100%;
  overflow-y: scroll;
}

.container.main {
  padding-top: 95px;
  padding-bottom: 110px;
}

#footer {
  background-image: linear-gradient(160deg, #EA0505, #E93F3F);
  color: #fff;
  padding: 2em 1em;
  height: 100px;
  font-size: 12px;
}

.link-source img{
  width: 16px;
}

a.link-source{
  color: #fff !important;
  font-size: 14px;
}
