
/* Header and Footer */
#header {
  border-bottom: solid 1px  #c473d1;
}

.navbar-brand {
  font-size: 20px;
  color: #9973d1;
  font-weight: bold;
}

#footer {
  background-image: linear-gradient(160deg, #c473d1, #9973d1);
  color: #fff;
  padding: 2em 1em;
  font-size: 12px;
}

/* GitHub link */
.link-source img{
  width: 16px;
}

a.link-source{
  color: #fff !important;
  font-size: 14px;
}
