<div class="row">
  Spelling CI is a spelling checker for Erlang built on top of <a target="_blank" href="https://github.com/inaka/sheldon">Sheldon</a>.
</div>
<div>
  <ol class="steps">
    <li>
      <button class="btn btn-default" ng-click="landingCtrl.login()">Sign in with GitHub</button>
    </li>
    <li>
      Activate Spelling CI for your GitHub repositories.
    </li>
    <li>
      When pull requests are created or modified Spelling CI will review your code and
      add comments to it.
    </li>
    <li>
      Check the comments and fix your code accordingly.
    </li>
  </ol>
</div>
