<div class="container row list">
  <div ng-show="repoCtrl.wait">
    <div class='uil-rolling-css' style='transform:scale(0.21);'><div><div></div><div></div></div></div>
  </div>
  <div ng-hide="repoCtrl.wait">
    <div class="row list-container" ng-show="repoCtrl.repos.length == 0">
        <p class="text-muted">You haven't got repos in Github</p>
    </div>
    <div class="row list-container" ng-hide="repoCtrl.repos.length == 0">
        <h4>Public</h4>
        <ul class="list-group">
          <div ng-repeat="repo in repoCtrl.repos | filter:query | orderBy: 'full_name'" ng-if="repo.private == false" class="list-group-item">
            <button ng-if="repo.status == 'on'" class="btn btn-success btn-sm" ng-disabled="repo.waiting" ng-click="repoCtrl.updateWebhook(repo)">On</button>
            <button ng-if="repo.status == 'off'" class="btn btn-default btn-sm" ng-disabled="repo.waiting" ng-click="repoCtrl.updateWebhook(repo)">Off</button>
            <a ng-href="{{repo.url}}" target="_blank">{{repo.full_name}}</a>
          </div>
        </ul>
        <h4>Private</h4>
        <ul class="list-group">
          <div ng-repeat="repo in repoCtrl.repos | filter:query | orderBy: 'full_name'" ng-if="repo.private" class="list-group-item">
            <button ng-if="repo.status == 'on'" class="btn btn-success btn-sm" ng-disabled="repo.waiting" ng-click="repoCtrl.updateWebhook(repo)">On</button>
            <button ng-if="repo.status == 'off'" class="btn btn-default btn-sm" ng-disabled="repo.waiting"  ng-click="repoCtrl.updateWebhook(repo)">Off</button>
            <a ng-href="{{repo.url}}" target="_blank">{{repo.full_name}}</a>
            <small><span class="glyphicon glyphicon-lock" title="Private"></span></small>
          </div>
        </ul>
    </div>
  </div>
</div>
<div class="container row buttons" ng-hide="repoCtrl.wait">
  <button class="btn btn-default btn-small pull-left" ng-click="repoCtrl.sync()">
    <span class="glyphicon glyphicon-refresh"></span> Sync
  </button>
</div>
